body{
  margin: 0;
  background-color: black;
  color: white;
  font-family: "Crimson Text", serif;
}
::-webkit-scrollbar{
  width: 5px;
  height: 5px;
}
/* ::-webkit-scrollbar-thumb {
background: #aab4bd;
} */
/* ::-webkit-scrollbar-track {
background: whitesmoke;
} */
.intro{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
#title{
  width: 50%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 6rem 5rem 5rem 5rem;
  /* animation: welcome 1s linear 0.5s 3 normal; */
}
#wel{
  font-size: 5rem;
  animation: welcome 1s linear 0.3s 1 normal;
}
#name{
  font-size: 1.25rem;
  height: 1.5rem;
  width: 17.5rem;
  border: 2px solid white;
  border-radius: 5rem;
  padding: 1rem;
  margin-top: 6rem;
  overflow: hidden;
}
#nm{
  font-size: 1.25rem;
  width: 18rem;
  overflow: hidden;
  animation: welcome 1s linear 0.3s 1 normal;
}
#profile{
  width: 50%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  /* margin-top: 5rem; */
  margin-left: 4rem;
}
#imgcon img{
  height: 23rem;
  width: 15rem;
  border-radius: 50%;
  margin-top: 5rem; 
  transform: skew(-10deg);
  animation: phto 1s linear 0s 1 normal;
}
#work{
  font-size: 1.5rem;
  position: absolute;
  right: 3rem;
  bottom: 3rem;
}
#tody{
  animation: wrk 3s linear 0s 1 normal;
}
#work p i{
  transform: rotate(90deg);
  margin-right: 0.5rem;
}
@keyframes welcome{
  0%{
      margin-top:-5rem;
  }
  100%{
      top: 0rem;
  }
}
@keyframes phto {
  0%{
      margin-left:-3rem;
  }
  100%{
      margin-left: 0rem;
  }
}
@keyframes wrk {
  0%{
      margin-left:-17rem;
  }
  100%{
      margin-left: 0rem;
  }
}
.descript{
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
#brief{
  font-size: 1.5rem;
  margin-top: 3rem;
}
#who{
  font-size: 5rem;
}
#desrp{
  font-size: 1.5rem;
  margin-top: 3rem;
}
#imgcon2 img{
  height: 30rem;
  width: 20rem;
  border-radius: 50%;
  margin-left: 2rem;
}
.line{
  width: 10rem;
  height: 0rem;
  margin-top: 2rem;
  border: 1px solid white;
}
.education{
  width: 100%;
  height: 100vh;
  background-color: black;
}
.educat{
  display: flex;
  font-size: 1.25rem;
}
.educat i{
  transform: rotate(90deg);
  margin-right: 1rem;
}
.back li{
  font-size: 1.1rem;
  color: #868686;
  margin-left: 1.4rem;
}
.back{
  margin: 3rem 0 4rem 25rem;
}
#background{
  font-size: 5rem;
  margin-top: 4rem;
  margin-left: 4rem;
}
.thought{
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
#thght{
  font-size: 4rem;
}
#imgcon3 img{
  height: 30rem;
  width: 20rem;
  border-radius: 50%;
  transform: skew(-10deg);
}  
.project{
  width: 100%;
  height: 100vh;
}
#imgcon4{
  height: 15rem;
  width: 13rem;
  border-radius: 50% 50% 0 0;
}
#imgcon4 img{
  width: 100%;
  height: 14rem;
  border-radius: 50% 50% 0 0;
}
.project p{
  font-size: 5rem;
  margin-left: 4rem;
}
.pname{
  width: 13rem;
  display: flex;
  /* margin-left: 2rem; */
}
.pname i{
  transform: rotate(90deg);
  margin-right: 1rem;
  margin-bottom: 3rem;
}
span{
  color: #868686;
}
/* .content{
  font-size: 1.5rem;
} */
.prjcts{
  display: flex;
  justify-content: space-around;
}
.contact{  
  width: 100%;
  height: 100vh;
}
.head{
  font-size: 5rem;
  margin-top: 3rem;
  margin-left: 4rem;
}
.details{
  margin: 5rem 3rem 3rem 3rem;
  display: flex;
  justify-content: space-around;
}
.infodetail{
  color: #868686;
  font-size: 1.2rem;
  font-family: 'Segoe UI', Tahoma,  Verdana, sans-serif;
}
.ln{
  width: 65%;
  height: 0;
  border: 1px solid white;
  margin: auto;
}
.social{
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}
.social i{
  font-size: 1.5rem;
  margin-right: 1rem;
  color: #868686;
}
.social i:hover{
  color: white;
}
.design{
  margin-top: 2rem;
 text-align: center; 
}